{% extends 'index.html'%}
{% load static %}

<!doctype html>
<html>
  <head>
    <title>Tercera pre-entrega Llana</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
  </head>
  <body>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: darkmagenta;">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: mediumorchid;">Alumnos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: mediumorchid;">Materiales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: mediumorchid;">Talleres</a>
      </li>
    </ul>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title", style="color: hotpink;">Prueba tarjeta</h5>
        <p class="card-text">Texto dentro de la tarjeta bla bla bla bla bla bla bla bla.</p>
      </div>
    </div>
  </body>
</html>